.favs-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}   

.favs-container > div {
    flex: 65%; 
    box-shadow: 0 0 0 1px rgb(109, 96, 96);
    margin-bottom: 3%;
    margin-left: 12%;
  }
  .favs-container > div:nth-child(1) {
    margin-left: 0%;
    flex: 100%; 
    display: block;
    box-shadow: 0 0 0 0px rgb(145, 34, 34);
    align-self: center;
    background-color: #01579b;
}
#noinf{
  box-shadow: 0 0 0 0px rgb(145, 34, 34);
  flex: 100%; 
}