.hero-container{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5vh;
    margin-top: 12vh;
    margin-left: 14vh;
    margin-right: 12vh;
    background-color: rgb(245, 246, 248);
}
.flex-gap > div {
    margin: 60px;
  }