#h6-restyle{
    margin-left: -0.5%;
}   
.moviesDisplay{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}
.moviesDisplay > div {
    flex: 50%; 
    box-shadow: 0 0 0 1px rgb(109, 96, 96);
    margin-bottom: 3%;
    margin-left: 12%;
  }